[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=trailing-comma-tuple,
    invalid-name,
    no-member,
    too-many-ancestors,
    bad-continuation

[TYPECHECK]
ignored-classes=WSGIRequest
